<h1>The Best Christian Albums According to Jonathan Robles</h1>

<button class="btn btn-primary" routerLink="/albums">Albums</button>















<!--Treat this as a cover page for your Albums Project.-->
Include the title of your project, and a button that will go to your albums component.
Route your newly created home component and your albums component to make it user friendly to go back and forth conveniently.
Include/update navbar for your project
Have a navbar that has links to your two components: Home and Albums
Also link your Home component to a navbar logo.
