<particles  id= "particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!--<app-albums></app-albums>-->
