<div *ngFor="let b of nav">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{{ b.logo }}" width="30" height="30" alt="" loading="lazy">
      <span class="navbar-brand mb-0 h1">{{ b.title }}</span>
    </a>
    <span class="navbar-brand mb-0 h1">According to {{ b.name }}</span>
  </nav>
</div>
<div *ngIf="loading">  <!--part of set time out-->
  <div class="row">
    <div class="col-9">
      <div *ngFor="let album of albums; let i = index">
        <div>
          <div class="card" [ngClass]="{odd: (i % 2 == 0), even: i % 2 == 1}">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img src="{{ album.cover }}" height="220" width="220" alt="albumCover" >
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-10">
                      <h3>Title: <u>{{ album.title | uppercase }}</u></h3>
                      <h3>Artist: {{ album.artist }}</h3>
                    </div>
                    <div class="col-1">
                      <button (click)="toggleHide(album)" class="btn btn-dark btn-sm"><i [ngClass]="!album.hide ? 'fa fa-plus': 'fa fa-minus'"></i>Hide/Show More Info</button>
                    </div>
                  </div>
                  <div class="row">
                    <ul *ngIf="!album.hide">
                      <li>Track List: {{ album.songs }}</li>
                      <li>Best Song: {{ album.favorite }}</li>
                      <li>Units Sold: {{ album.units }}</li>
                      <!--    delete button-->
<!--                      <button (click)="deleteAlbum(album)" class="btn btn-danger"><i class="fa fa-remove"></i></button>-->
                      <!--    edit button-->
<!--                      <button (click)="editAlbum(album)" class="btn btn-light"><i class="fa fa-pencil"></i></button>-->

                      <!--<li><iframe class="rounded mx-auto" src="{{a.play}}" width=“300" height=“80” frameborder=“0" allowtransparency=“true” allow=“encrypted-media”></iframe></li>-->
                      <!--<div>-->
                      <!--<iframe class="rounded mx-auto" src="{{a.play}}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
                      <!--<iframe class=“rounded mx-auto” src=“{{a.play}}” width=“300" height=“80” frameborder=“0" allowtransparency=“true” allow=“encrypted-media”></iframe>-->
                      <!--<div class="card-title text-nowrap">Top Track(s):</div>-->
                      <!--<div class="text-justify">{{ a.favorite }}</div>-->
                      <!--</div>-->
                      <!--<li><iframe src="{{a.play}}" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li>-->
                      <!--<iframe #iframe height="600" width="1000"></iframe>-->
                      <!--<li><iframe class="rounded mx-auto" src="{{a.play}}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-text bg-white m-3 d-none d-md-none d-lg-block d-xl-block">
        <!--the elements spotify-->
        <ul>
          <li><iframe src="https://open.spotify.com/embed/track/28jcFm1snS2T2CcnGladPy" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <!--jesus spotify--></li>
          <li><iframe src="https://open.spotify.com/embed/track/7CNINxlyvWE15Dees3X5zC" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <!--i still believe spotify--></li>
          <li><iframe src="https://open.spotify.com/embed/track/2UvrcTdxrrDGszXONI5G91" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <!--until the whole world hears--></li>
          <li> <iframe src="https://open.spotify.com/embed/track/0bZ9e7IoTlBnivvPEbNY6b" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <!--i can only imagine--></li>
          <li><iframe src="https://open.spotify.com/embed/track/0lVYRIVjK77Z6uG2GgM8Kl" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <!--mercy me spotify-->
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div id="addAlbumDiv">
      <button (click)="showForm = !showForm" class ="btn btn-dark mb-3" type="button" id="addAlbum">Add an Album</button>
    </div>
    <div class="card card-body mb-3" *ngIf="showForm">
      <h2>Add Your Favorite Christian Album</h2>
      <form #albumForm="ngForm" (ngSubmit)="onSubmit(albumForm)">
        <div class="form-group">
          <label>Album Title</label>
          <input type="text" [(ngModel)]="album.title" #albumTitle="ngModel" [ngClass]="{'is-invalid':albumTitle.errors && albumTitle.touched}" class="form-control" name="albumTitle" required minlength="3"
          >
          <div [hidden]="!albumTitle.errors?.required" class="invalid-feedback">Album Title Required</div>
        </div>
        <div class="form-group">
          <label>Artist</label>
          <input type="text" [(ngModel)]="album.artist" #albumArtist="ngModel" [ngClass]="{'is-invalid':albumArtist.errors && albumArtist.touched}" class="form-control" name="artist" required minlength="3">
          <div [hidden]="!albumArtist.errors?.required" class="invalid-feedback">Album Artist Required</div>
        </div>
        <div class="form-group">
          <label>Songs</label>
          <input type="text" [(ngModel)]="album.songs['']" #albumSongs="ngModel" [ngClass]="{'is-invalid':albumSongs.errors && albumSongs.touched}" class="form-control" name="songs" required>
          <div [hidden]="!albumSongs.errors?.required" class="invalid-feedback">Album Songs Required</div>
        </div>
        <div class="form-group">
          <label>Favorite Song</label>
<!--          <input type="text" [(ngModel)]="album.favorite" class="form-control" name="favorite" required>-->
          <input type="text" [(ngModel)]="album.favorite" #albumFavorite="ngModel" [ngClass]="{'is-invalid':albumFavorite.errors && albumFavorite.touched}" class="form-control" name="favorite" required>
          <div [hidden]="!albumFavorite.errors?.required" class="invalid-feedback">Favorite Song Required</div>
        </div>
        <div class="form-group">
          <label>Release Date</label>
<!--          <input type="text" [(ngModel)]="album.year" class="form-control" name="year" required>-->
          <input type="text" [(ngModel)]="album.date" #albumDate="ngModel" [ngClass]="{'is-invalid':albumDate.errors && albumDate.touched}" class="form-control" name="year" required pattern="^(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/([12][0-9]{3})$">
          <div [hidden]="!albumDate.errors?.required" class="invalid-feedback">Album Release Date Required</div>
        </div>
        <div class="form-group">
          <label>Genre</label>
<!--          <input type="text" [(ngModel)]="album.genre" class="form-control" name="genre" required>-->
          <input type="text" [(ngModel)]="album.genre" #albumGenre="ngModel" [ngClass]="{'is-invalid':albumGenre.errors && albumGenre.touched}" class="form-control" name="genre" required>
          <div [hidden]="!albumGenre.errors?.required" class="invalid-feedback">Album Genre Required</div>
        </div>
        <div class="form-group">
          <label>Units Sold</label>
<!--          <input type="text" [(ngModel)]="album.units" class="form-control" name="units" required>-->
          <input type="text" [(ngModel)]="album.units" #albumUnits="ngModel" [ngClass]="{'is-invalid':albumUnits.errors && albumUnits.touched}" class="form-control" name="units" required>
          <div [hidden]="!albumUnits.errors?.required" class="invalid-feedback">Album Units Sold Required</div>
        </div>
        <div class="form-group">
          <label>Album's Wiki Page</label>
<!--                    <input type="text" [(ngModel)]="album.units" class="form-control" name="units" required>-->
          <input type="text" [(ngModel)]="album.wiki" #albumWiki="ngModel" [ngClass]="{'is-invalid':albumWiki.errors && albumWiki.touched}" class="form-control" name="wiki" pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
          <div [hidden]="!albumWiki.errors?.pattern" class="invalid-feedback">Url is invalid</div>
        </div>
        <!--        <button class="btn btn-dark mb-3" (click)="addAlbum(album)"> Submit</button>-->
        <button [disabled]="!albumForm.form.valid" class="btn btn-dark mb-3" (click)="addAlbum(album)">Add Your Favorite Christian Album</button>
      </form>
    </div>
  </div>
  <div>
    <h3 *ngIf="!loading" id="loadingTitle">Loading My Favorite Christian Albums</h3>
  </div>
</div>
<div *ngFor="let f of footer">
  <div class="card-footer text-muted">
    <h5>Created by : {{ f.author }}</h5>
    <h6><a href="{{ f.linkedIn }}" target="_blank"> LinkedIn</a></h6>
    <h6><a href="{{ f.site }}" target="_blank">GitLab</a></h6>
  </div>
</div>

<!--New Album Validation-->
<!--Continue working on our Angular Albums project-->
<!--Add some validation to your add new album form-->
<!--Disable your submit until the requirements have been met.-->
<!--The entry for the album's title should be more than 2 characters.-->
<!--The entry for the album's artist should also be more than 2 characters-->
<!--The date entry must follow the following format:-->
<!--'MM/dd/yyyy'-->
<!--BONUS:-->
<!--Add a new entry that will allow the user to input a link that will direct us to the album's wiki or the album's website.-->
<!--Add validation to this entry.-->
<!--If the entry doesn't follow the correct format for a link, it will not enable the add new album button.-->

<!--Service Exercise-->
<!--Create a new service name 'albums'-->
<!--ng generate service services/albums-->
<!--Move all your this.albums array and data from your component's typescript file-->
<!--and throw it into the service's constructor.-->
<!--Create an Observable in your service, and subscribe to it in your albums.component.ts-->
<!--Basically retrieve your data from the service.-->
<!--Make sure you can still add new album in your application.-->

<!--Add New Album Feature-->
<!--As a user, I would like to enter a new album to my albums project.-->
<!--The form that we create has validation, but now we need to add whatever the user submitted on the list of albums.-->
<!--When a user submits a new album, that entry's information needs to render at the top of the list of albums-->

EDIT/UPDATE FEATURE

As a user, I would like to edit or update an album that's on the application.
Along with adding a new album, I would like to edit an album.

Every album should have an edit button.

When the user clicks on the edit button, that album's information is populated on the form.

The button for the form should also be changed.

Change the text of the button to 'Update Album'
When the user clicks on 'Update Album', the updated album should be at the top of the list. Also, the button's text should go back to its original state.



<!--Let's make some adjustments, and updates to our angular albums application.-->
<!--Alternating background colors.-->
<!--Every other album's background should alternate.-->
<!--The first, third, and last album's background color should have the same background color.-->
<!--The second and fourth album's background color should be the same but different from the other three's.-->

<!--When your application loads, we should only see the album's cover, the album's title and band/artist.-->
<!--Hide the other information.-->

<!--Include a click feature to where when you click on the button or somewhere on the application, it will display all of the album's information.-->
<!--There should be a difference of the title and band's placement when the information is showing and not showing.-->


<!--When you click on the button, a form should display on the screen where you can enter a new album.-->
<!--Disable your submit button of the form until the user has entered the required fields (title, artist, songs, favorite, year, genre, units)-->


<!--*If you like, you can changed the requirements for an Album-->
<!--**You'll need to make this adjustment in your interface.-->

<!--Once the required fields has been entered, enable your submit button.-->


<!--Add a new album!-->
<!--Have a button that reads 'Add an Album' (if haven't done so already)-->

