li{
  list-style-type: none;
}
button{
  margin: 0 auto;
}
.card{
  margin: 10px;
}
#loadingTitle{
  display: flex;
  justify-content: center;
}
#addAlbumDiv{
  text-align: center;
  padding-bottom: 10px;
}
.even { background-color: cornflowerblue; }
.odd { background-color: lightslategrey; }
