<!--<div *ngFor="let b of nav">-->
<!--  <nav class="navbar navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">-->
<!--      <img src="{{ b.logo }}" width="30" height="30" alt="" loading="lazy">-->
<!--      <span class="navbar-brand mb-0 h1">{{ b.title }}</span>-->
<!--    </a>-->
<!--    <span class="navbar-brand mb-0 h1">According to {{ b.name }}</span>-->
<!--  </nav>-->
<!--</div>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Bravo Angular App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/albums">Albums</a>
      </li>
    </ul>
  </div>
</nav>
